.Content {
    width: 82vw;
    display:flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 40px;
}