.LoginDesk {
    height: 420px;
    width: 500px;
    border: 2px solid rgb(77, 77, 77);
    border-radius: 50px;
    display: block;
    position: absolute;
    text-align: center;
    top: 160px;
    left: 150px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 5px 0.01px;
}

.name , .pass {
    height: 40px;
    width: 280px;
    border: 2px solid rgb(77, 77, 77);
    border-radius: 30px;
    margin: 10px;
    position: relative;
    background-color: rgba(173, 173, 173, 0.171);
    box-shadow: 0px 0px 5px 0.01px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(46, 70, 94);
}

.LoginDesk > ::placeholder {
    font-weight: 200;
}

form > p {
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}
.google, .git {
    height: 50px;
    width: 50px;
    border: 2px solid rgb(209, 233, 255);
    border-radius: 30px;
    margin: 10px;
    padding: 2px;
    /* box-shadow: 0px 0px 5px 0.01px; */
    align-items: center;
}

.submit {
    height: 50px;
    width: 300px;
    background-color: rgb(80, 135, 238);
    border-radius: 30px;
    border: 1px solid rgb(136, 136, 136);
    margin: 10px;
    padding: 2px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.GoBack {
    font-size: small;
}

.GoBack:hover {
    cursor: pointer;
}

.LoginDesk > button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0.01px;
}
 
body {
    background-color: rgba(231, 231, 231, 1);
}

.wel {
    height: 100px;
    width: 500px;
    display: flex;
    position: relative;
    top: 30px;
    left: 40px;
}

.logo {
    height: 100px;
}
.wel > h2 {
    color: rgba(32, 31, 31, 0.9);
    font-weight: bolder;
    font-size: 36px;
    position: relative;
    bottom: 10px;
    width: 400px;
}

.wel > p {
    width: 300px;
    font-size: 18px;
    position: absolute;
    top: 45px;
    left: 105px;
}

.back {
    position: absolute;
    height: 550px;
    right: 0px;
    bottom: 0px;
}

.man {
    position: absolute;
    right: 150px;
    bottom: 0px;
    transition: 0.3s ;
    filter: drop-shadow(0 0 0 transparent);
    animation: blink-shadow 3s infinite;
}

@keyframes blink-shadow {
  0%, 100% {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  }
  50% {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
  }
}