
.menuBar {
    width: 200px;
    height: 92vh;
    border-right: 2px solid rgba(121, 121, 121, 0.69);
    padding-top: 10px; 
    position: fixed;
    background-color: white;
    top: 50px;
    left: 0px;
    z-index: 2;
}

.menuBar > button > img {
    height: 35px;
}

.menuBar > button {
    display: flex;
    align-items: center;
    height: 45px;
    width: 160px;
    background: none;
    border:none;
    margin-top: 20px;
    margin-left: 10px;
    /* border: 2px solid red */
}

.menuBar > button > h2 {
    margin-left: 15px;
    font-size: 17px;
}

.NewCollDev {
    border-top: 2px solid rgba(121, 121, 121, 0.69);
    height: 60px;
    width: 190px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.NewCollDev > button {
    background-color: rgba(139, 139, 139, 0.342);
    border:2px solid rgba(121, 121, 121, 0.562);
    border-radius: 20px;
    height: 40px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NewCollDev > button > p {
    font-size: 14px;
    font-weight: bold;
}

.show {
    height:35px;
    width:5px;
    background-color: white;
    position: relative;
    border-radius: 10px;
    top: 1px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .backMenu {
        background: none;
        width: 100vw;
        z-index: 3;
        height: 100vh;
        position: fixed;
    }
    
    .menuBar {
        position: fixed;
        margin-top: 50px;
        width: 170px;
        padding-left: 10px;
        height: 150vh;
        margin-right: 1px solid rgba(121, 121, 121, 0.69);
        z-index: 1;
    }

    .menuBar > button > img {
        height: 25px;
    }

    .menuBar > button {
        display: flex;
        height: 35px;
        width: 160px;
        background: none;
        border:none;
        margin-top: 20px;
        margin-left: 0px;
        /* border: 2px solid red */
    }

    .menuBar > button > h2 {
        margin-left: 10px;
        font-size: 16px;
    }

    .NewCollDev {
        border-top: 2px solid rgba(121, 121, 121, 0.69);
        height: 50px;
        width: 150px;
    }

}