.Content {
    flex: 1;
    min-height: calc(100vh - 70px);
    padding: 2rem 3rem 8rem;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    transition: var(--transition-slow);
}

@media (max-width: 1200px) {
    .Content {
        padding: 2rem 1.5rem 8rem;
    }
}

@media (max-width: 768px) {
    .Content {
        margin-top: 120px;
        padding: 1.5rem 1rem 8rem;
    }
}